#logoMelMDM, #footerlogoMelMDM{
    width: 100px;
  }

//placement des img
// reservia
#reservia img{
        height: 300px;
        //object-fit: cover;
}
//OhMyFood
#omf img{
    height: 270px;
  // width: 450px;
}
#fishEye img{
    height: 300px;
    object-fit: cover;
}
#animalsLove img{
    height: 300px;
}

#fishEye, #cabco, #animalsLove{
    margin-top: 30px;
}

//footer
#footerlogoMelMDM{
    margin-left: 183px;
}

#icons{
    display: flex;
}