#logoMelMDM, #footerlogoMelMDM{
    width: 100px;
  }
#animalsLove img, #fishEye img, #cabco img, #gameOn img, #reservia img, #omf img{
    object-fit: contain;
    overflow: hidden;
   
}

#fishEye, #cabco, #animalsLove{
    margin-top: 30px;
}

//footer
#footerlogoMelMDM{
    margin-left: 183px;
}

#icons{
    display: flex;
}
#portfolio{
    margin-top:-90px ;
    margin-bottom: 90px;
}
/*--------------------------------------------logo responsive version mobile------------------*/
@media all and (max-width: 600px){
#footerlogoMelMDM{
width: 50px;
margin-left: 0;
}
#portfolio{
    margin-top:-1px;
    margin-bottom: 50px;
}
}
